{% load static %}
{% block content %}
<title>5xcamp</title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'output.js' %}" type="module"></script>
<div x-data="bankBranch('{{ banks_json|escapejs }}', '{{ branch_detail|default:'null'|escapejs }}')"
    class="container mx-auto mt-10 p-6 bg-white rounded shadow">
    <p class="text-gray-500 text-sm">powered by
        <a href="https://5xcampus.com/" class="text-gray-500 no-underline">5xCampus</a>
    </p>
    <h1 class="text-2xl font-bold mb-4">台灣銀行代碼查詢</h1>
    <div class="mb-6">
        <div class="flex mb-4 space-x-4">
            <span @click.away="hideDropdown">
                <label for="bank_name" class="block text-gray-700 font-medium">銀行名稱：</label>
                <div class="relative">
                    <input x-model="displayedBankName" @input="refreshBankList" @focus="showAllBanks" name="bank_name"
                        id="bank_input" placeholder="請輸入關鍵字或銀行代碼..."
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <div x-show="showDropdown" x-cloak
                        class="absolute w-full bg-white border border-gray-300 mt-1 rounded-md shadow-lg z-10">
                        <template x-for="bank in filteredBanks" x-bind:key="bank.code">
                            <p @click="selectBank(bank)" class="p-2 hover:bg-gray-100 cursor-pointer"
                                x-text="bank.code + ' ' + bank.name"></p>
                        </template>
                    </div>
                </div>
                <p class="text-gray-500 text-sm mt-1">可使用下拉選單或直接輸入關鍵字查詢</p>
            </span>
            <span @click.away="hideBranchDropdown">
                <label for="branch_name" class="block text-gray-700 font-medium">分行名稱：</label>
                <div class="relative">
                    <input x-model="displayedBranchName" @input="refreshBranchList" @focus="showAllBranches"
                        name="branch_name" id="branch_input" placeholder="請選擇分行名稱..." x-bind:disabled="!selectedBank"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <div x-show="showBranchDropdown" x-cloak
                        class="absolute w-full bg-white border border-gray-300 mt-1 rounded-md shadow-lg z-10">
                        <template x-for="branch in filteredBranches" x-bind:key="branch.branch_code">
                            <p @click="selectBranch(branch)" class="p-2 hover:bg-gray-100 cursor-pointer"
                                x-text="branch.branch_name.replace(selectedBank.name, '').trim()"></p>
                        </template>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <template x-if="branchDetails">
        <div x-show="branchDetails != null" x-cloak class="p-4 bg-green-100 rounded">
            <h2 class="text-xl font-bold mb-2"
                x-text="`${branchDetails.bank_name}(${branchDetails.bank_code}) ${cleanBranchName}`" id="branch_name">
            </h2>
            <p class="mb-1">分行代碼：
                <span x-text="branchDetails.branch_code"></span>
                <button @click="copyCode" x-text="copyButton"
                    class="ml-2 px-2 py-1 bg-green-500 text-white text-sm rounded focus:outline-none"></button>
            </p>
            <p class="mb-1">地址：<span x-text="branchDetails.address"></span></p>
            <div class="flex justify-between">
                <p>電話：<span x-text="branchDetails.phone"></span></p>
                <p>資料來源：<span><a href="https://data.gov.tw/dataset/6041"
                            class="text-gray-500 no-underline">政府資料開放平臺</a></span>
                </p>
            </div>
        </div>
    </template>
    <div x-show="branchDetails" class="mt-4">
        <a href="{% url 'cores:index' %}" class="btn mr-1">重新查詢</a>
        <button @click="copyLink" x-text="copyLinkButton" class="px-4 py-2 bg-blue-500 text-white rounded"></button>
    </div>
</div>
{% endblock %}